<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Analyzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/mainStyle.css" th:href="@{/mainStyle.css}" type="text/css"/>
</head>
<body>
<form method="post" th:object="${inputCode}">
    <div class="ioBlock">
        <textarea id="textarea" name="Code" th:utext="${inputCode.getCode()}"></textarea>
        <button type="submit">Check</button>
    </div>
    <p th:utext="${cl}" style="font-size: 16px; font-family: Consolas, serif; padding-left: 50%; padding-top: 33%">smthing again</p>
    <p th:utext="${CL}" style="font-size: 16px; font-family: Consolas, serif; padding-left: 50%">smthing again</p>
    <p th:utext="${cli}" style="font-size: 16px; font-family: Consolas, serif; padding-left: 50%">smthing again</p>
</form>
</body>
</html>